:root {
    --primary: #00CDCE;
}

/* Header section */
.navbar {
    opacity: 0.85;
    z-index: 10;
}

.navbar-brand {
    font-size: 56px;
    padding: 0;
    text-transform: capitalize;
    line-height: normal;
}

.navbar-brand span {
    color: var(--primary);
}

.heading-color {
    color: var(--primary);
}

.navbar-collapse {
    display: flex;
    justify-content: flex-end;
}

.nav-link {
    border-bottom: 2px solid white;
    color: white !important;
    margin: 0 16px;
    padding: 10px 15px !important;
    letter-spacing: 1px;
    transition: all .5s;
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
    border-bottom: 2px solid rgba(12, 11, 11, 0);
    color: #00cdce !important;
}

.navbar-toggler {
    border: 2px solid #00cdce !important;
}

.navbar-toggler i {
    color: #00CDCE;
}

.navbar-toggler:hover, 
.navbar-toggler:focus {
    background-color: #748d90;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    height: 64px;
    width: 64px;
}

.carousel-indicators {
    bottom: 10%;
}

.carousel-indicators button {
    border-radius: 50%;
    width: 12px !important;
    height: 12px !important;
    background-color: rgba(255, 255, 255, 1) !important;
    margin: 0 10px !important;
}

.carousel-indicators button.active {
    background-color: black !important;
}

.carousel-caption {
    top: 40%;
}

.carousel-caption h4 {
    font-size: 60px;
    font-weight: 700;
    color: #FFF;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin: 0px 0px 10px;
}

.carousel-caption p {
    font-size: 24px;
    font-weight: 400;
    color: #d3d8d8;
    line-height: 35px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
/* Header section */

/* About section */
#about,
#blog,
#portfolio {
    padding: 70px 0;
    letter-spacing: 1px;
}

.about__container {
    max-width: 1170px;
    text-align: center;
}

.container h3 {
    margin-bottom: 0.8em;
    color: #000;
    font-size: 56px;
    font-weight: 400;
    letter-spacing: 2px;
}

.about__item span {
    font-size: 1.5em;
    color: #000;
    background: #fff;
    border: 1px solid #7f7777;
    cursor: pointer;
    top: 0;
    width: 100px;
    border-radius: 50%;
    height: 100px;
    line-height: 98px;
    transition: all .5s;
}

.about__item span:hover {
    background-color: var(--primary);
    color: white;
}

.about__item p {
    line-height: 2em;
    font-size: 15px;
    color: #7f7777;
    margin-top: .8em;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.about__container h4 {
    color: #00cdce;
    font-size: 30px;
    margin: 0;
    font-weight: 600;
    line-height: 1.8em;
    text-align: center;
}

.about__container p {
    margin: 5px 0 0 0;
    color: #000;
    font-size: 15px;
    text-align: center;
    line-height: 29px;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
/* About section */

/* Stats section */
#stats,
#subscribe {
    padding: 70px 0;
    background-color: var(--primary);
    text-align: center;
}

.counter {
    font-size: 56px;
    margin: 0;
    color: #fff;
    letter-spacing: 5px;
}

.stats__item p {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}
/* Stats section */

/* Blog section */
.blog__container {
    max-width: 1170px;
    text-align: center;
}

.blog__content {
    border-top: 5px solid #00cdce;
    background: #efefef;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.blog__item--desc {
    padding: 1.5rem;
    text-align: left;
}

.blog__item--header {
    font-size: 1.6em;
    color: #00cdce;
    font-weight: 500;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 1px;
    display: inline-block;
    text-align: left;
    transition: all .5s;
    cursor: pointer;
}

.blog__item--header:hover {
    color: #000;
    text-decoration: none;
    outline: none;
}

.blog__item--desc p {
    font-size: 15px;
    color: #000;
    margin: .5em 0em;
    line-height: 26px;
    padding: 0;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.readmoreBtn {
    color: #00cdce;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 1px;
    border: 1px solid #000;
    padding: 7px 18px;
    background: #000;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
}

.readmoreBtn:hover {
    color: white;
}

.modal-header {
    font-size: 2.6em;
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-weight: 600;
    background: #00cdce;
}

.modal-header::before {
    content: "Housing";
    text-align: center;
}

button.close {
    font-size: 1em;
    font-weight: 500;
    color: #a0260f;
    outline: none;
    -webkit-appearance: none;
    padding: 0;
    background: transparent;
    border: 0;
}

button.close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal-body {
    text-align: center;
}

.modal-body img {
    width: 100%;
}

.modal-body p {
    font-size: 15px;
    color: #999;
    text-align: left;
    padding: 2em 2em 1em;
    margin: 0 !important;
    line-height: 2em;
}
/* Blog section */

/* Media section */
#media {
    display: flex;
}

.video__container {
    position: relative;
    flex: 4.7;
}

.video__container img {
    width: 100%;
    height: 100%;
}

.video__container a {
    position: absolute;
    z-index: 1;
    top: 38%;
    left: 45%;
    background-color: rgba(0, 205, 206, 0.5);
    padding: 20px;
    border-radius: 50%;
}

.video__container a i {
    color: white;
    font-size: 2rem;
}

.media__desc {
    flex: 5.3;
    padding: 0 5.5em;
    background-color: var(--primary);
    text-align: center;
}

.media__desc h2 {
    margin: 1em 0 .5em;
    font-size: 42px;
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

.media__desc p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 2em;
    text-align: center;
}

.media__desc a {
    margin: 2em 0em 4em;
    text-align: center;
}

.modal {
    top: 20%;
}

.video-close {
    border: none;
    overflow: visible;
    cursor: pointer;
    -webkit-appearance: none;
    display: block;
    padding: 0;
    z-index: 10;
    position: absolute;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    color: white;
    background-color: inherit;
    top: -15%;
    left: -7%;
}

iframe {
    width: 100%;
    padding: 40px 10px;
}
/* Media section */

/* Portfolio */
.portfolio__container {
    max-width: 1170px;
    text-align: center;
}

.emptyclass {
    margin: 10px 0;
}

.portfolio__item .lsb_container  {
    position: relative;
}

.lsb_container a {
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    position: relative;
    display: block;
}

.overlay_wrap {
    padding: 15px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 100%;
    transition: all .5s;
}

.lsb_container a:hover .overlay_wrap {
    opacity: 1;
}

.gallery__overlay {
    padding: 1.5em 4em;
    background: rgba(0,0,0,.72);
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.gallery__overlay h3 {
    font-size: 1.5em;
    color: #00cdce;
    text-transform: uppercase;
    padding: 1.3em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 0.8em;
}

.gallery__overlay p {
    color: #fff;
    font-size: 15px;
}

.lsb_preview {
    z-index: 999;
}
/* Portfolio */

/* Subscribe */
.subscribe__container p {
    font-size: 15px;
    color: #ffffff;
    padding: 1em 11em;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}

.subscribe__container form {
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

.subscribe__container form input {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    outline: none;
    letter-spacing: 1px;
}

.subscribe__container form button {
    margin: 0.8em 0 0;
    font-size: 24px;
    letter-spacing: 2px;
    color: #fff;
    padding: 6px 50px;
    border: 1px solid #000;
    outline: none;
    background-color: #000;
    border-radius: 0px;
    transition: all .5s;
}

.subscribe__container form button:hover {
    border: 1px solid black;
    background-color: white;
    color: black;
}
/* Subscribe */

/* Agents */
#agents,
#contact {
    padding: 70px 0;
    text-align: center;
}

.agents__container {
    max-width: 1170px;
}

.agents__info {
    overflow: hidden;
}

.agents__item--desc {
    background: rgba(0, 0, 0, 0.79);
    padding: 1.5em 1em;
    text-align: center;
    width: 100%;
    transition: all .5s;
}

.agents__item--desc h4 {
    margin: 0;
    color: #00cdce;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 5px;
    font-weight: 400;
    letter-spacing: 1px;
}

.agents__container p {
    color: #FFFFFF;
    font-size: .9em;
    margin: 0;
}

.agents__item--desc ul {
    padding: 0;
    margin: 1em 0 0 0;
}

.agents__item--desc ul li {
    display: inline-block;
    margin: 0 10px;
}

.agents__item--desc ul li a {
    color: #333;
    text-align: center;
}

.agents__item--desc ul li a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 2px #FFF;
    background: none;
    color: #FFF;
    transition: all .5s;
}

.agents__item--desc ul li a i.fa-facebook-f:hover {
    background: #3b5998;
}

.agents__item--desc ul li a i.fa-twitter:hover {
    background: #55acee;
}

.agents__item--desc ul li a i.fa-rss:hover {
    background: #f26522;
}
/* Agents */

/* Map */
#map {
    border: 2px solid #00b6e3;
    background: #bbb;
    padding: 1em;
}

#map iframe {
    padding: 0;
}
/* Map */

/* Contact */
.contact__container {
    max-width: 1170px;
}

.contact__form {
    width: 100%;
    text-align: center;
}

.form-left input,
textarea {
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239);
    outline: none;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
    -webkit-appearance: none;
    display: inline-block;
}

input[type="submit"] {
    width: 100%;
    outline: none;
    color: #fff;
    padding: 0.7em 5em;
    font-size: 1.1em;
    -webkit-appearance: none;
    background: #000;
    border: none;
    transition: all .5s;
}

input[type="submit"]:hover {
    background: #00cdce;
    color: #000;
}

.form-left input:focus,
textarea:focus {
    border-color: #000;
}

textarea {
    resize: none;
    min-height: 13.3em;
}
/* Contact */

/* Footer */
footer {
    background-color: var(--primary);
    color: white;
    padding: 2em 0;
}

.footer__container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.copyright {
    margin-top: 1.2em;
    text-align: center;
}

a.w3 {
    color: red;
    text-decoration: none;
}

a.w3:hover {
    color: white;
}

.icons-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__icon {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer__icon li {
    margin: 0 20px;
}

.footer__icon li a {
    text-align: center;
}

.footer__icon li a i {
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 1px #FFF;
    background: none;
    color: #FFF;
    transition: all .5s;
}

.fb:hover {
    color: #3b5998;
}

.tw:hover {
    color: #55acee;
}

.rss:hover {
    color: #f26522;
}

.vk:hover {
    color: #45668e;
}
/* Footer */



/* Responsive */
@media screen and (max-width: 991px) {
    .navbar-brand {
        font-size: 40px;
    }

    .navbar-collapse {
        justify-content: center;
    }

    .nav-link {
        border-bottom: none;
    }
    
    .carousel-item img {
        min-height: 500px;
    }    

    .carousel-caption h4 {
        font-size: 30px;
    }

    .carousel-caption p {
        font-size: 15px;
    }
}

@media screen and (max-width: 800px) {
    .blog__item {
        width: 90%;
        margin: 10px auto;
    }

    .blog__item--desc {
        text-align: center;
    }

    #media {
        flex-direction: column;
    }
}

@media screen and (max-width: 575px) {
    .about__item {
        padding: 0 5em ;
    }

    .stats__item {
        width: 50%;
    }

    .counter {
        font-size: 35px;
    }

    .modal-content {
        max-width: 425px;
        margin: 25% auto;
    }
    
    .video-close {
        top: -18%;
        left: 2%;
    }

    .portfolio__container h3,
    .subscribe__container h3 {
        font-size: 30px;
    }

    .subscribe__container p {
        padding: .5em 2em;
    }

    .subscribe__container form {
        width: 80%;
    }

    .subscribe__container form button {
        padding: 5px 5px;
    }
}

@media screen and (max-width: 376px) {
    .about__item {
        padding: 0 5px ;
    }

    .blog__item {
        width: 100%;
        margin: 10px 0;
    }

    .blog__item--header {
        font-size: 20px;
    }

    .blog__item--desc p {
        font-size: 13px;
    }

    .media__desc {
        padding: 1em;
    }
}
/* Responsive */